<?xml version="1.0"?>
<launch>

  <!-- Assumes transforms broadcasted by libviso2 in bagfile-->

  <param name ="/use_sim_time" value="true"/>

  <rosparam command="load" file="$(find ekf_slam)/config/params_libviso.yaml" />  


  <include file="$(find lidar_cone_detection)/launch/euclidean_clustering.launch"/>


  <node pkg="ekf_slam" type="ekf_slam" name="ekf_slam" output="screen"></node>

  <node pkg="rviz" type="rviz" name="rviz_nav" output="screen" args="-d $(find ekf_slam)/rviz/rviz_conf_viso.rviz"></node>

  <node pkg="slam_tools" type="visualize_paths" name="path_visualize"/>

  <node pkg="slam_tools" type="slam_error" name="slam_error" output="screen"/>

  <node pkg="rosbag" type="play" name="rosbag_play" args="--clock --rate=1.0 /home/kwahl/catkin_ws/src/bags/kth/s_curve/scurve_3000_2_viso.bag /home/kwahl/catkin_ws/src/bags/kth/s_curve/done.bag"/>


</launch>
